<div>GET to http://api.weatherstack.com:1080/current?access_key=bd3efcf0780347c1e6ada6148b46eebb&amp;query=London</div>


<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X GET &#39;http://api.weatherstack.com:1080/current?access_key=bd3efcf0780347c1e6ada6148b46eebb&amp;query=London&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json&#39;
</div>
